@use '../../scss/global/colors'as *;

.nav {
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: 4rem;

    .header {
        height: 9.75rem;
        width: 100%;
        background: url('/src/assets/images/bg-header-mobile.svg') $primary center;
        background-size: contain;

        @media screen and (min-width:728px) {
            background: url('/src/assets/images/bg-header-desktop.svg') $primary;
        }
    }

    .filter {
        height: max-content;
        padding: 1rem 1.5rem;
        position: relative;
        display: flex;
        background-color: $Light-filtered-jobs;
        -webkit-box-shadow: -2px 17px 27px -16px rgba(170, 203, 203, 1);
        -moz-box-shadow: -2px 17px 27px -16px rgba(170, 203, 203, 1);
        box-shadow: -2px 17px 27px -16px rgba(170, 203, 203, 1);
        align-items: center;
        top: -1.6rem;
        border-radius: 5px;

        .content {
            width: 100%;
            height: max-content;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .jobs {
                display: flex;
                column-gap: .2rem;
                align-items: center;
                border-radius: 5px;
                justify-content: space-between;
                background-color: $alt-bg;

                .jobName {
                    padding: .5rem;
                    color: $primary;
                }

                .icon {
                    background-color: $primary;
                    padding: .6rem;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    width: 2rem;

                    &:hover {
                        cursor: pointer;
                        background-color: $Very-bold-text;
                    }
                }
            }
        }

        .clear {
            color: $Dark-text;

            &:hover {
                cursor: pointer;
                color: $primary;
                text-decoration: underline;
            }
        }
    }
}

.more{
    margin-bottom: 2rem;
}