@use '../../scss/global/colors'as *;
@use '../../scss/utils/_functions.scss'as fn;

.Jobs {

    -webkit-box-shadow: -2px 17px 27px -16px rgba(170, 203, 203, 1);
    -moz-box-shadow: -2px 17px 27px -16px rgba(170, 203, 203, 1);
    box-shadow: -2px 17px 27px -16px rgba(170, 203, 203, 1);
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border-radius: 5px;
    background: #fff;

    @media screen and (min-width:1024px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-inline: 2.5rem;
    }

    .first {
        .logo {
            width: 3rem;
            position: absolute;
            top: -1.5rem;

            @media screen and (min-width:1024px) {
                width: 5rem;
                object-fit: contain;
                position: initial;
            }
        }

        .jobInfo {
            display: flex;
            flex-direction: column;
            row-gap: .7rem;
            margin-top: .5rem;

            .infoTop {
                display: flex;
                align-items: center;
                column-gap: 1.5rem;

                @media screen and (max-width:350px) {
                    flex-direction: column;
                    align-items: initial;
                }

                .company {
                    color: $primary;
                    font-weight: 800;
                    padding: .4rem .5rem .3rem 0;
                }

                .spe {
                    display: flex;
                    gap: .5rem;

                    .special {
                        background: $primary;
                        color: $Light-Background;
                        width: max-content;
                        height: max-content;
                        border-radius: fn.rem(100);
                        font-size: fn.rem(12);
                        padding: .4rem .5rem .3rem .5rem;
                    }

                    .specialAlt {
                        background: $Very-bold-text;
                        color: $Light-Background;
                    }
                }
            }

            .infoMiddle {
                font-weight: 800;
                font-size: fn.rem(16);
                color: $Very-bold-text;

                &:hover {
                    cursor: pointer;
                    color: $primary;
                }

                @media screen and (min-width:1024px) {
                    font-size: fn.rem(18);
                }
            }

            .infoLast {
                display: flex;
                gap: .5rem;
                color: $Dark-text;
                flex-wrap: wrap;

                .altInfo {
                    display: flex;
                    align-items: center;
                    column-gap: .5rem;

                    .de {
                        width: fn.rem(4);
                        height: fn.rem(4);
                        background-color: $Dark-text;
                        border-radius: 100%;
                    }
                }
            }
        }

        @media screen and (min-width:1024px) {
            display: flex;
            align-items: center;
            column-gap: 1.5rem;
        }
    }

    .horizontalRule {
        width: 100%;
        height: 1px;
        background-color: $Dark-text;
        opacity: .7;

        @media screen and (min-width:1024px) {
            display: none;
        }
    }

    .second {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

    }
}

.JobS {
    border-left: 5px solid $primary;
}