//variables
$Light-Background: hsl(180, 52%, 96%);
$Light-filtered-jobs: hsl(180, 31%, 95%);
$Dark-text: hsl(180, 8%, 52%);
$Very-bold-text: hsl(180, 14%, 20%);
$primary: hsl(180, 29%, 50%);
$primary-alt: hsl(180, 25%, 68%);