//variables
$Dark-Blue-dark-mode-elements:hsl(209, 23%, 22%);
$Dark-Blue-dark-mode-background:hsl(207, 26%, 17%);
$Dark-Blue-light-mode-text: hsl(200, 15%, 8%);
$Dark-gray-light-mode-input:hsl(0, 0%, 52%);
$Light-gray-light-mode-background:hsl(0, 0%, 98%);
$General-white:hsl(0, 0%, 100%)