@use '../utils'as utils;
@use './colors'as *;
@use '../utils/functions'as fn;


html {
  box-sizing: border-box;
  font-size: 100%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a,
button {
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
a:visited,
a:active {
  cursor: pointer;
  letter-spacing: fn.rem(0.2);
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

li {
  letter-spacing: 0.5;
}

body {
  font-family: utils.$base-font;
  font-weight: 500;
  background-color: $Light-Background;
  font-size: fn.rem(15);
}